.analytics {
    padding: 140px 0;
}
@media (max-width: 991px) {
    .analytics {
        padding: 100px 0;
    }
}
@media (max-width: 767px) {
    .analytics {
        padding: 60px 0;
    }
}
@media (max-width: 575px) {
    .analytics {
        padding: 40px 0;
    }
}
.analytics__header {
    color: var(--section-name-color);
    text-align: center;
    font-size: 13px;
    font-family: var(--textfont);
    font-weight: 700;
}

.analytics__title {
    margin-top: 20px;
    color: var(--title-color);
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--mainfont);
}
@media (max-width: 576px) {
    .analytics__title {
        font-size: 21px;
    }
}
.analytics__subtitle {
    margin-top: 15px;
    color: var(--text-color);
    text-align: center;
    font-size: 19px;
    font-family: var(--textfont);
    font-weight: 400;
}
@media (max-width: 576px) {
    .analytics__subtitle {
        font-size: 15px;
    }
}
.analytics__picture {
    padding: 0 15px 40px;
    margin-top: 60px;
}
@media (max-width: 576px) {
    .analytics__picture {
        margin-top: 25px;
    }
}
.analytics__picture img {
    display: block;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 10px 7px rgb(136 140 133 / 15%);
}
.analytics__descr {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 0;
    flex-wrap: wrap;
}
@media (max-width: 576px) {
    .analytics__descr {
        padding: 5px 10px 0;
    }
}
.analytics__icons-widgets,
.analytics__icons-services,
.analytics__icons-styles,
.analytics__icons-requests {
    display: flex;
    padding: 15px 0;
}
.analytics__icons-logo {
    margin: auto;
}
.analytics__icons-logo img {
    display: block;
    max-width: 70px;
    margin: auto;
}
@media (max-width: 992px) {
    .analytics__icons-logo img {
        max-width: 50px;
    }
}
@media (max-width: 768px) {
    .analytics__icons-logo img {
        max-width: 40px;
    }
}
@media (max-width: 576px) {
    .analytics__icons-logo img {
        max-width: 35px;
    }
}
.analytics__icons-items {
    display: flex;
    margin: 0 0 0 15px;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 576px) {
    .analytics__icons-items span {
        line-height: 18px;
    }
}
.analytics__icons-items-title {
    font-size: 22px;
    font-family: var(--textfont);
    color: var(--title-color);
    font-weight: 700;
}
@media (max-width: 992px) {
    .analytics__icons-items-title {
        font-size: 19px;
    }
}
@media (max-width: 768px) {
    .analytics__icons-items-title {
        font-size: 17px;
    }
}
@media (max-width: 576px) {
    .analytics__icons-items-title {
        font-size: 16px;
    }
}
.analytics__icons-items-text {
    font-size: 17px;
    font-family: var(--textfont);
    color: var(--text-color);
    font-weight: 400;
}
@media (max-width: 992px) {
    .analytics__icons-items-text {
        font-size: 17px;
    }
}
@media (max-width: 768px) {
    .analytics__icons-items-text {
        font-size: 15px;
    }
}
@media (max-width: 576px) {
    .analytics__icons-items-text {
        font-size: 14px;
    }
}