.overlay_block {
    display: none;
}
.overlay_active {
    display: block;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
}
.modal_block {
    display: none;
}
.modal_mini_block {
    display: none;
}
.modal_active, .modal_mini_active {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    min-height: 400px;
    background: var(--background-modal);
    padding: 35px;
    border-radius: 6px;
}
@media (max-width: 768px) {
    .modal_active {
        padding: 35px 20px;
    }
}
@media (max-width: 576px) {
    .modal_active {
        padding: 25px 20px;
    }
}
.modal__close {
    position: absolute;
    top: 0;
    right: -35px;
    font-size: 41px;
    line-height: 21px;
    color: #ffff;
    cursor: pointer;
}
@media (max-width: 380px) {
    .modal__close {
        top: 6px;
        right: 4px;
        color: black;
    }
}
.modal__subtitle {
    font-weight: 700;
    font-size: 32px;
    color: var(--title-color);
    text-align: center;
    font-family: var(--textfont);
}
@media (max-width: 768px) {
    .modal__subtitle {
        font-size: 24px;
    }
}
.modal__descr {
    font-size: 18px;
    font-family: var(--textfont);
    color: var(--text-color);
    text-align: center;
}
@media (max-width: 768px) {
    .modal__descr {
        font-size: 16px;
    }
}
.modal_mini {
    min-height: 230px;
    min-width: 250px;
}
.modal__icon {
    display: flex;
    justify-content: center;
}
.modal__icon svg {
    max-width: 50px;
}
.error {
    border: 1px solid red;
    text-align: center;
}
label.error {
    border: 0;
    text-align: center;
    margin-bottom: 15px;
}
.start-form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (max-width: 768px) {
    .start-form {
        margin-top: 25px;
    }
}
.start-form input {
    height: 50px;
    border-radius: 5px;
    background-color: var(--background-modal-input);
    margin-bottom: 20px;
    border: transparent;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: var(--text-color);
    outline: none;
}
.start-form input:nth-child(3) {
    margin-bottom: 20px
}
.start-form input[type=text]:focus, .start-form input[type=tel]:focus, .start-form input[type=email]:focus {
    border: 2px var(--modal-divider-color) solid;
    transition: 0.6s;
}
.button_submit {
    cursor: pointer;
    border: none;
    height: 50px;
    padding: 13px 34px;
    background-color: var(--button-color);
    font-size: 14px;
    color: var(--light-text-color);
    font-family: var(--textfont);
    margin-top: 30px;
    border-radius: 5px;
    font-weight: 700;
}
.button_submit:hover {
    background-color: var(--modal-submit-btn-hover);
    transition: 0.4s;
}
@media (max-width: 768px) {
    .button_submit {
        margin-top: 20px;
    }
}
.divider_modal {
    width: 50px;
    height: 3px;
    border-top: 2px var(--modal-divider-color) solid;
    margin: 10px auto;
    display: block;
}

