.carousel {
    margin-top: 60px;
    display: flex;
}
.carousel__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel_container {
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.slide-item {
    max-width: 200px;

}
.carousel_btn-prev, .carousel_btn-next {
    cursor: pointer;
    color: var(--text-color);
    font-size: 18px;
    margin: 15px;
}
.slide_logo {
    
}
.slide-item {
    padding: 0 15px;
}
/* -webkit-transform: translateX(200px);
transition: 1s all; */




.slider-companies {
    padding: 120px 0 75px 0;
}
.slider__title {
    text-align: center;
    color: var(--text-color);
    font-size: 19px;
    font-family: var(--textfont);
    font-weight: 700;
}
.slider__title span {
    color: var( --section-name-color);
}
.slider {
    margin-top: 70px;
}
.slider-item {
    padding: 40px;
    background-color: rgb(249, 252, 255);
}

