/* ---- Section 9 contacts ---- */
.contacts {
    background: #0387fc;
    min-height: 420px;
    padding: 140px 0 55px;
}
@media (max-width: 768px) {
    .contacts {
        padding: 60px 0 30px;
    }
}
@media (max-width: 576px) {
    .contacts {
        padding: 25px 0 25px;
        min-height: 410px;
    }
}
.contacts__wrapper {
    display: flex;
}
@media (max-width: 768px) {
    .contacts__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.contacts__question {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    max-width: 66.66667%;
}
@media (max-width: 992px) {
    .contacts__question {
        max-width: 60.66667%;
    }
}
@media (max-width: 768px) {
    .contacts__question {
        max-width: 100%;
        text-align: center;
        padding: 0 35px;
    }
}
@media (max-width: 576px) {
    .contacts__question {
        padding: 0;
    }
}
.contacts__about {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    max-width: 33.33333%;
}
@media (max-width: 992px) {
    .contacts__about {
        max-width: 40.66667%;
    }
}
@media (max-width: 768px) {
    .contacts__about {
        max-width: 100%;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .contacts__about {
        margin-top: 20px;
    }
}



.contacts__title {
    font-size: 78px;
    line-height: 85.8px;
    color: #ffff;
    font-family: var(--mainfont);
    font-weight: 700;
}
@media (max-width: 992px) {
    .contacts__title {
        font-size: 62px;
        line-height: 70.8px;
    }
}
@media (max-width: 768px) {
    .contacts__title {
        font-size: 53px;
        line-height: 55.8px;
    }
}
@media (max-width: 576px) {
    .contacts__title {
        font-size: 30px;
        line-height: 40.8px;
    }
}
.contacts__subtitle {
    margin-top: 35px;
    color: #FFFF;
    font-size: 17px;
    font-family: var(--textfont);
    font-weight: 400;
}
@media (max-width: 992px) {
    .contacts__subtitle {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .contacts__subtitle {
        margin-top: 15px;
    }
}
@media (max-width: 576px) {
    .contacts__subtitle {
        margin-top: 10px;
        font-size: 14px;
    }
}
.contacts__business-title, .contacts__support-title {
    font-family: var(--textfont);
    font-size: 15px;
    color: #FFFF;
    font-weight: 400;
    line-height: 25.5px;
    margin-top: 18px;
}
@media (max-width: 992px) {
    .contacts__business-title, .contacts__support-title {
        font-size: 15px;
    }
}
.contacts__mail {
    color: #FFFF;
    font-size: 19px;
    font-family: var(--textfont);
    font-weight: 700;
    line-height: 32.3px;
    margin-top: 10px;
}
@media (max-width: 992px) {
    .contacts__mail {
        font-size: 16px;
    }
}
.contacts__icon-items {
    margin-top: 30px;
}
.contacts__list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.contacts__list li {
    margin: 0 5px 10px;
}
.contacts__list li i {
    font-size: 21px;
    color: #FFF;
}
@media (max-width: 992px) {
    .contacts__list li i {
        font-size: 19px;
    }
}
@media (max-width: 768px) {
    .contacts__list li i {
        font-size: 17px;
    }
}
.contacts__list li i:hover {
    color:rgb(111, 116, 144);
    transition: .4s ease-out all;
}