@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Work+Sans:wght@700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url(section_8/pricing__plans.css);
@import url(section_9/contacts.css);
@import url(footer/footer.css);

:root {
    --firstcolor: rgb(44, 46, 56);
    --secondcolor: rgb(3, 135, 252);
    --thirdcolor:  rgb(111, 116, 144);
    --fourcolor: rgb(90, 94, 117);
}
* {
    font-family: 'Work Sans', 'Hind', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (max-width: 992px) {
    .container {
        max-width: 990px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 765px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}

/* Вверху не рухати стилі!!!! */

