@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Work+Sans:wght@700&display=swap');
:root {
    --firstcolor: rgb(44, 46, 56);
    --secondcolor: rgb(3, 135, 252);
    --thirdcolor:  rgb(111, 116, 144);
    --fourcolor: rgb(90, 94, 117);
}
* {
    font-family: 'Work Sans', 'Hind', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.pricing__plans {
    padding: 145px 0 150px 0;
    min-height: 1130px;
    /* background: url(/src/img/12491_generated.jpg) center (center/cover) no-repeat; */
}
.pricing__header {
    text-align: center;
    color: var(--secondcolor);
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
}
.pricing__title {
    font-size: 56px;
    text-align: center;
    color: var(--firstcolor);
    margin-top: 20px;
    width: 100%;
}
.pricing__subtitle {
    text-align: center;
    color: var(--thirdcolor);
    margin-top: 15px;
    width: 100%;
    font-size: 19px;
    font-family: 'Hind', sans-serif;
}
.pricing__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,minmax(auto, 370px));
    grid-template-rows: minmax(auto, 620px);
    column-gap: 25px;
}
.pricing__card {
    /* background: silver; */
    padding: 50px 40px;
    box-shadow: 0 10px 10px 7px rgb(136 140 133 / 15%);
    border-radius: 6px;

}
.pricing__card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
}

.pricing__card-items_title {
    margin-top: 20px;
    font-size: 21px;
    font-family: 'Hind', sans-serif;
    color: var(--fourcolor);
}

.pricing__card-items_price {
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
}
.pricing__card-items_price_blue {
    color: var(--secondcolor);
}

.pricing__card-items_descr1 {
    margin-top: 30px;
    font-size: 17px;
    font-family: 'Hind', sans-serif;
    color: var(--thirdcolor);
}
.pricing__card-items_descr2 {
    font-size: 17px;
    font-family: 'Hind', sans-serif;
    color: var(--thirdcolor);
}
.pricing__card-items_descr3 {
    font-size: 17px;
    font-family: 'Hind', sans-serif;
    color: var(--thirdcolor);
}

.divider {
    width: 100%;
    border-top: 1px solid var(--thirdcolor);
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
}


.pricing__btn {
    width: 165px;
    height: 50px;
    padding: 13px 34px;
    margin-top: 40px;
    border: 2px solid var(--secondcolor);
    background: transparent;
    color: var(--secondcolor);
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
}
.pricing__btn:hover {
    background: var(--secondcolor);
    color: #fff;
    cursor: pointer;
}