@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Work+Sans:wght@700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
:root {
    --firstcolor: rgb(44, 46, 56);
    --secondcolor: rgb(3, 135, 252);
    --thirdcolor:  rgb(111, 116, 144);
    --fourcolor: rgb(90, 94, 117);
}
* {
    font-family: 'Work Sans', 'Hind', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (max-width: 992px) {
    .container {
        max-width: 990px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 765px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}

/* Вверху не рухати стилі!!!! */


.pricing__plans {
    padding: 145px 0 150px 0;
    min-height: 1130px;
    background: url("//res2.weblium.site/res/5efdf94ff3bc420021179c9f/5f17df32b90ac70023badf85_optimized_24.webp") center center / 24px repeat, rgb(243, 244, 248);
}
@media (max-width: 992px) {
    .pricing__plans {
        padding: 90px 0 100px 0;
    }
}
@media (max-width: 768px) {
    .pricing__plans {
        padding: 60px 0 70px 0;
    }
}
.pricing__header {
    text-align: center;
    color: var(--secondcolor);
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
}
@media (max-width: 576px) {
    .pricing__header {
        font-size: 12px;
    }
}

.pricing__title {
    font-size: 56px;
    text-align: center;
    color: var(--firstcolor);
    margin-top: 20px;
    width: 100%;
}
@media (max-width: 992px) {
    .pricing__title {
        font-size: 48px;
    }
}
@media (max-width: 768px) {
    .pricing__title {
        font-size: 36px;
        margin-top: 15px;
    }
}
@media (max-width: 576px) {
    .pricing__title {
        font-size: 19px;
        margin-top: 12px;
    }
}
.pricing__subtitle {
    text-align: center;
    color: var(--thirdcolor);
    margin-top: 15px;
    width: 100%;
    font-size: 19px;
    font-family: 'Hind', sans-serif;
}
@media (max-width: 768px) {
    .pricing__subtitle {
        font-size: 17px;
        margin-top: 10px;
    }
}
@media (max-width: 576px) {
    .pricing__subtitle {
        font-size: 14px;
        margin-top: 5px;
    }
}
.pricing__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,minmax(auto, 370px));
    grid-template-rows: minmax(auto, 620px);
    column-gap: 25px;
}
/* @media (max-width: 992px) {
    .pricing__wrapper {
        grid-template-rows: minmax(auto, 560px);
    }
} */

@media (max-width: 768px) {
    .pricing__wrapper {
        margin-top: 40px;
        grid-template-columns: minmax(auto, 370px);
        grid-template-rows: repeat(3,minmax(auto, 520px));
        row-gap: 15px;
        justify-content: center;
    }
}
@media (max-width: 576px) {
    .pricing__wrapper {
        grid-template-columns: minmax(auto, 280px);
        grid-template-rows: repeat(3,minmax(auto, auto));
    }
}
.pricing__card {
    background: #ffffff;
    padding: 50px 40px;
    box-shadow: 0 10px 10px 7px rgb(136 140 133 / 15%);
    border-radius: 6px;  
}

@media (max-width: 992px) {
    .pricing__card {
        padding: 25px 25px;
    }
}
@media (max-width: 768px) {
    .pricing__card {
        padding: 5px 25px;
    }
}
@media (max-width: 576px) {
    .pricing__card {
        padding: 15px 25px;
    }
}

.pricing__card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__img {
    width: 100px;
    height: 100px;
}
@media (max-width: 576px) {
    .pricing__img {
        width: 70px;
        height: 70px;
    }
}

.pricing__card-items_title {
    margin-top: 20px;
    font-size: 21px;
    font-family: 'Hind', sans-serif;
    color: var(--fourcolor);
}
@media (max-width: 576px) {
    .pricing__card-items_title{
        margin-top: 10px;
        font-size: 20px;
    }
}

.pricing__card-items_price {
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
}
.pricing__card-items_price_blue {
    color: var(--secondcolor);
}
@media (max-width: 576px) {
    .pricing__card-items_price {
        margin-top: 15px;
        font-size: 40px;
    }
}

.pricing__card-items_descr1 {
    margin-top: 30px;
    font-size: 17px;
    font-family: 'Hind', sans-serif;
    color: var(--thirdcolor);
}
.pricing__card-items_descr2 {
    font-size: 17px;
    font-family: 'Hind', sans-serif;
    color: var(--thirdcolor);
}
.pricing__card-items_descr3 {
    font-size: 17px;
    font-family: 'Hind', sans-serif;
    color: var(--thirdcolor);
}
@media (max-width: 576px) {
    .pricing__card-items_descr1, .pricing__card-items_descr2, .pricing__card-items_descr3 {
        font-size: 15px;
    }
}

.divider {
    width: 100%;
    border-top: 1px solid var(--thirdcolor);
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
}
@media (max-width: 576px) {
    .divider {
        margin: 10px 0;
    }
}

.pricing__btn {
    width: 165px;
    height: 50px;
    padding: 13px 34px;
    margin-top: 40px;
    border: 2px solid var(--secondcolor);
    text-align: center;
    text-decoration: none;
    color: var(--secondcolor);
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
}
.pricing__btn:hover {
    background: var(--secondcolor);
    color: #fff;
    cursor: pointer;
}
@media (max-width: 576px) {
    .pricing__btn {
        width: 150px;
        height: 46px;
        padding: 10px 20px;
    }
}
/* ---- Section 9 contacts ---- */
.contacts {
    background: #0387fc;
    min-height: 420px;
    padding: 140px 0 55px;
}
.contacts__wrapper {
    display: flex;
}
.contacts__question {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    max-width: 66.66667%;
}
.contacts__about {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    max-width: 33.33333%;
}



.contacts__title {
    font-size: 78px;
    line-height: 85.8px;
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}
.contacts__subtitle {
    margin-top: 35px;
    color: #FFFF;
    font-size: 17px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
}
.contacts__business-title, .contacts__support-title {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    color: #FFFF;
    font-weight: 400;
    line-height: 25.5px;
    margin-top: 18px;
}
.contacts__mail {
    color: #FFFF;
    font-size: 19px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    line-height: 32.3px;
    margin-top: 10px;
}
.contacts__icon-items {
    margin-top: 30px;
}
.contacts__list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.contacts__list li {
    margin: 0 5px 10px;
}
.contacts__list li i {
    font-size: 21px;
    color: #FFF;
}
.contacts__list li i:hover {
    color:rgb(111, 116, 144);
    transition: .4s ease-out all;
}


footer {
    background: #0387fc;
    min-height: 170px;
    
}
.footer__nav {
    display: grid;
    align-items: center;
    padding: 30px 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
.footer__nav-logo {
    max-width: 160px;
    max-height: 46px;
}
.footer__nav-logo img {
    width: 100%;
    height: 100%;
}
.footer__nav-menu {
    display: flex;
    justify-content: flex-end;
}
.footer__nav-menu a{
    margin: 10px 17px;
    color: rgba(255, 255, 255, 0.69);
    text-decoration: none;
    font-style: 17px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
}
.footer__nav-menu a:hover{
    color: #ffff;
}
/* .reserved::after {
    content: "";
    position: absolute;
    width: calc(100% - 245px);
    height: 1px;
    bottom: -145px;
    left: 115px;
    background: #fff;
    opacity: .2;
} */
.divider_footer {
    opacity: .2;
    height: 1px;
    width: 100%;
    border-top: 1px solid #fff;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
}
.reserved {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 62px;
}
.reserved span {
    width: 33%;
    color: #ffff;
    font-size: 13px;
    font-family: 'Hind', san-serif;
    font-weight: 700;
}
.reserved span:nth-child(3) {
    text-align: right;
}