@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Work+Sans:wght@700&display=swap');

* {
    font-family: 'Hind', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

h1 {
    color: blue;
}