.testimonials {
    padding: 145px 0 150px 0;
    min-height: 1480px;
    background: url("//res2.weblium.site/res/5efdf94ff3bc420021179c9f/5f17df32b90ac70023badf85_optimized_24.webp") center center / 24px repeat, rgb(243, 244, 248);
}
.testimonials__header {

}
.testimonials__title {

}
.testimonials__subtitle {

}